@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli";
  background-image: url("../img/background.png");
}

#main_container {
  text-align: center;
}

.container_class {
  width: 500%;
  height: 500%;
  margin: auto;
}

.container_class #title {
  margin: auto;
  padding: 50px 0;
}

#title {
  font: bold;
  width: 10%;
  margin: 1% ;
  font-size: 6%;
  text-align: center;
  color: #ff0059;
}

/* contenuto della pagina */
.main_container_class {
  display: block;
  width: 100%;
}

#level_title {
  padding: 2% 0;
}

#level {
  font-size: 1.5%;
  margin-bottom: 1%;
  color: #ff0059;
  border: 1% solid #ff0059;
}
#level:focus {
  outline: none;
}

.pointer_event_none {
  pointer-events: none;
}

.start_game {
  text-decoration: none;
  color: #ff0059;
  font-size: 2%;
  padding: 0 3%;
  border-radius: 5%;
  border: 1% solid #ff0059;
  outline: none;
  cursor: pointer;   
}

/* contenitore griglia di gioco */
#grid_container {
  display: flex;
  justify-content: center;
  padding-top: 0.5%;
}

.game_grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1% solid #ff0059;
  margin: auto;
  background-color: #ff0059;
}
.game_grid_500 {
  height: 100%;
}
.game_grid_400 {
  height: 100%;
}
.game_grid_250 {
  height: 100%;
}
.game_grid_100 {
  height: 100%x;
}
.game_grid_50 {
  height: 100%;
}

.square_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(6% - 2%);
  height: calc(6% - 2%);
  margin: 1%;
  font-size: 1.5%;
  cursor: pointer;
  animation: fadeIn 600ms ease-in-out;
  transition: all linear 0.1s;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.square_style img {
  width: 100%;
}

.square_style.clicked {
  font-size: 3%;
}

.fade_out {
  animation: fadeOut 1000ms ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.score_text {
  font-size: 8%;
  margin-top: 15%;
}

.retry_game_button {
  margin-top: 5%;
}
